<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Gossip</strong> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://jgthms.com" property="cc:attributionName" rel="cc:attributionURL">Osc and Queen</a>.
      </p>
    </div>
  </div>
</footer>
