<div class="gossip notification ">
  <button class="delete"></button>
  <div class="gossip-wrapper">
    <div class="gossip-karma-wrapper">
      <div class="vote-wrapper">
        <a class="vote-btn positive-vote">
          <span class="icon is-small">
            <i class="fa fa-arrow-up"></i>
          </span>
        </a>
      </div>
      <div class="karma-wrapper">
        <span class="karma">65</span>
      </div>
      <div class="vote-wrapper">
        <a class="vote-btn negative-vote">
          <span class="icon is-small">
            <i class="fa fa-arrow-down"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="gossip-content">
      <div class="gossip-header">
        <p>
          <strong>John Smith</strong>
          <span>-</span>
          <small>31m</small>
        </p>
      </div>
      <div class="gossip-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
      </div>
    </div>
  </div>
</div>
