<nav class="nav has-shadow">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item is-tab"><i class="fa fa-home"></i> &nbsp; Home</a>
        <a class="nav-item is-tab"><i class="fa fa-search"></i> &nbsp; Search</a>
      </div>

      <div class="nav-center">
        <a class="nav-item brand-title">
          Gossip
        </a>
      </div>

      <div class="nav-right nav-menu">
        <a class="nav-item is-tab"><i class="fa fa-user"></i> &nbsp; User</a>
        <span class="nav-item">
          <a class="button">
            <span>Logout</span>
          </a>
        </span>
      </div>
    </div>
  </nav>
