<% include head %>

<body>
  <% include header %>
  <section class="section home main">
    <div class="container">
      <div class="columns">
        <div class="column gossips-section hot-gossips">
          <h3 class="title">
            <span class="icon">
              <i class="fa fa-fire"></i>
            </span>
            Hot
          </h3>
          <div class="underline"></div>
          <div class="gossips-wrapper" id="hot-gossips"></div>
        </div>
        <div class="column gossips-section new-gossips">
          <h3 class="title">
            <span class="icon">
              <i class="fa fa-fire"></i>
            </span>
            New
          </h3>
          <div class="underline"></div>
          <div class="gossips-wrapper" id="new-gossips"></div>
        </div>
        <div class="column">
          <div class="form-group">
            <span class="title">Heard a sweet thing?!</span>
            <br>
            <br>
            <textarea class="form-control" id="gossip-text" rows="6"></textarea>
            <br>
            <button class="button is-primary" type="button" name="button" id="gossip-push-button">Gossip!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include footer %>
  <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>
