<% include head %>

<body>
  <% include header %>
  <section class="section home main">
    <div class="container">
      Logs
    </div>
  </div>
  <% include footer %>
  <script type="text/javascript" src="/js/components/Gossip.js"></script>
</body>
</html>
