<% include head %>

<body>
  <% include header %>
  <section class="section logs main">
    <div class="container">
      <div class="columns">
        <div class="column log-section">
          <h3 class="title">
            <span class="icon">
              <i class="fa fa-file"></i>
            </span>
            Logs
          </h3>
          <div class="underline"></div>
          <div class="logs-wrapper" id="all-logs"></div>
        </div>
      </div>
    </div>
  </section>
  <% include footer %>
  <script type="text/javascript" src="/js/components/log.js"></script>
  <script type="text/javascript" src="/js/logs.js" charset="utf-8"></script>
</body>
</html>
