<% include head %>

  <body>
    <% include header %>
      <section class="hero is-fullheight home">
        <div class="hero-body">
          <div class="container has-text-centered">

                <section class=" section">
                  <div class="columns">

                    <div class="column">
                          <div class="form-group">
                            <span class="title">Heard a sweet thing?!</span>
                            <br>
                            <br>
                            <textarea class="form-control" id="gossip-text" rows="6"></textarea>
                            <br>
                            <button class="button is-primary" type="button" name="button" id="gossip-push-button">Gossip!</button>
                          </div>
                    </div>
                    <div class="column" id="gossip-area">
                    </div>
                </div>
              </section>

          </div>
        </div>

      </section>
      <% include footer %>
        <script type="text/javascript" src="/js/home.js"></script>
        </script>
  </body>

  </html>
