@import url("https://fonts.googleapis.com/css?family=Pacifico");
body .nav #brand-title {
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  color: #00d1b2;
  user-select: none; }

body .underline {
  height: 2px;
  margin-left: 4px; }

body .main {
  background-color: inherit; }
  body .main #gossip-text {
    width: 100%;
    resize: none;
    padding: 10px;
    color: grey;
    font-size: 16px; }
  body .main #gossip-push-button {
    text-align: center;
    display: inherit;
    margin: 0 auto; }
  body .main .gossips-section .title {
    margin-bottom: 9px; }
    body .main .gossips-section .title .icon {
      line-height: 29px; }
  body .main .gossips-section.hot-gossips .title {
    color: #ff470f; }
  body .main .gossips-section.hot-gossips .underline {
    background-color: #ff470f; }
  body .main .gossips-section.new-gossips .title {
    color: #145BD5; }
  body .main .gossips-section.new-gossips .underline {
    background-color: #145BD5; }
  body .main .gossips-section.all-gossips .title {
    color: #00d1b2; }
  body .main .gossips-section.all-gossips .underline {
    background-color: #00d1b2; }
  body .main .gossips-section.deleted-gossips .title {
    color: #ff3860; }
  body .main .gossips-section.deleted-gossips .underline {
    background-color: #ff3860; }
  body .main .gossips-section .gossips-wrapper {
    margin-top: 10px; }

body .login .alias {
  height: auto;
  font-size: 26px;
  margin: 20px auto; }
  body .login .alias:focus {
    border-color: #145BD5; }

body .login .role.button {
  font-size: 24px;
  padding: 15px;
  border-width: 4px;
  height: auto; }
  body .login .role.button.active {
    border: 4px solid #145BD5; }

body .login #login-btn {
  margin-top: 20px;
  font-size: 20px;
  height: auto;
  padding: 10px; }

body .gossip {
  background-color: white;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1); }
  body .gossip .gossip-wrapper {
    display: flex; }
    body .gossip .gossip-wrapper .gossip-karma-wrapper {
      flex: 0 0 50px;
      display: flex;
      flex-direction: column; }
      body .gossip .gossip-wrapper .gossip-karma-wrapper .karma-wrapper,
      body .gossip .gossip-wrapper .gossip-karma-wrapper .vote-wrapper {
        flex: 1 0 auto;
        display: flex;
        margin: 0 auto; }
        body .gossip .gossip-wrapper .gossip-karma-wrapper .karma-wrapper button,
        body .gossip .gossip-wrapper .gossip-karma-wrapper .vote-wrapper button {
          background-color: Transparent;
          background-repeat: no-repeat;
          border: none;
          cursor: pointer;
          overflow: hidden;
          outline: none;
          color: #00d1b2;
          transition: none 86ms ease-out;
          flex: 1;
          margin: auto; }
          body .gossip .gossip-wrapper .gossip-karma-wrapper .karma-wrapper button:hover,
          body .gossip .gossip-wrapper .gossip-karma-wrapper .vote-wrapper button:hover {
            color: #363636; }
          body .gossip .gossip-wrapper .gossip-karma-wrapper .karma-wrapper button .icon,
          body .gossip .gossip-wrapper .gossip-karma-wrapper .vote-wrapper button .icon {
            width: 13px; }
        body .gossip .gossip-wrapper .gossip-karma-wrapper .karma-wrapper .gossip-karma,
        body .gossip .gossip-wrapper .gossip-karma-wrapper .vote-wrapper .gossip-karma {
          flex: 1;
          margin: auto;
          font-weight: 600; }
    body .gossip .gossip-wrapper .gossip-description {
      word-break: break-word; }
